* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

/* root - variavel de cores */
:root {
    --gold-color: #ffc400;
    --black-color: rgb(0, 0, 0);
    --gray-color: #2e2e2e;
    --white-color: #ffffff;

    --gray-color-p: #8f948c;
    --button-shadow-color: #62BA1B;
}

/* root - variavel de estilo */
:root {
    --style-text: 'Arial', 'Helvetica', sans-serif;
    --style-h: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif
}

/* root - variavel de tamanhos */
:root {   
    --font-size-h1: 70px;
    --font-size-h2: 40px;
    --font-size-h3: 25px;
    --font-size-p: 15px;
}