* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

/* root - variavel de estilo */
:root {
    --gold-color: #ffc400;
    --black-color: rgb(0, 0, 0);
    --gray-color: #2e2e2e;
    --white-color: #ffffff;
    --button-color: #3F8E00;
    --button-shadow-color: #62BA1B;
}

/* root - variavel de estilo */
:root {
    --style-text: 'Arial', 'Helvetica', sans-serif;
    --style-h: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif
}

/* root - variavel de estilo */
:root {
    font-size: ;
}