body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(78, 71, 71)  , rgb(0, 0, 0), rgb(0, 0, 0) );
    /* background-color: rgb(0, 0, 0); */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 4px 1px 10px;
    background-color: var(--white-color);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* h2{
    margin-top: 20px;
    color: #333;
} */

label {
    display: block;
    margin: 10px 0px;
    text-align: left;
    font-weight: bold;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px #ccc;
    border-radius: 6px;
}

#mensagem{
    color: red;
    margin-top: 15px;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 10px;
    background: var(--gold-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: var(--gold-color);
}

strong{
    color: var(--gold-color);
}

/* Link de Login */
.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
}

.login-link a {
    color: #f7a435;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}